<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Url Info</title>
  <link rel="stylesheet" href="{{ asset('public/css/cutter-url.info.css') }}">
</head>

<body>
  <h1>Urls list</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Url</th>
        <th>Uri</th>
        <th>Count of jumps</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr>
        <td><a href="{{ path('cutter-info-each') }}/{{ url.id }}">{{ url.id }}</a></td>
        <td>{{ url.url }}</td>
        <td>{{ url.uri }}</td>
        <td>{{ url.countJumps }}</td>
        <td>{% if url.created %}{{ url.created|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td><a href="{{ path('cutter-info-each') }}/{{ url.id }}">show</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>
