<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Url Info</title>
</head>

<body>
  <h1>Url</h1>

  <table>
    <tbody>
      <tr>
        <th>Id:</th>
        <td>{{ url.id }}</td>
      </tr>
      <tr>
        <th>Url:</th>
        <td>{{ url.url }}</td>
      </tr>
      <tr>
        <th>Uri:</th>
        <td>{{ url.uri }}</td>
      </tr>
      <tr>
        <th>Count of jumps:</th>
        <td>{{ url.countJumps }}</td>
      </tr>
      <tr>
        <th>Created:</th>
        <td>{% if url.created %}{{ url.created|date('Y-m-d H:i:s') }}{% endif %}</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('cutter-info') }}">Back to the list</a>
    </li>
  </ul>
</body>

</html>
